.containerCart{
  width: 50px;
  height: 50px;
  margin-top: 25px;
  z-index: 1;
  padding-right: 20px;
}
.containerCount{
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: #FEA800;
  z-index: 4;
  margin-top: -43px;
  margin-left: 23px; 
}
.count{
  padding-left: 3px;
  padding-bottom: 2px;
  font-size: 13px;
}