.itemListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    background-color:black;
    
  }
  
  .cardItem {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .cardItem img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .cardItem h2, .cardItem h3 {
    margin: 8px 0;
  }